<div class="sudoku-container">
    <table class="sudoku-board">
        <tbody>
            <tr *ngFor="let row of board; let rowIndex = index" class="sudoku-row">
                <td *ngFor="let cell of row; let colIndex = index" class="sudoku-cell">
                    <img *ngIf="boardWithImages[rowIndex][colIndex]" src="assets/images/{{boardWithImages[rowIndex][colIndex]}}.jpg" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <input type="text" [ngModel]="this.selectedNumber" />
</div>
<div class="actions">
    <button (click)="validateBoard()">დამატება</button>
</div>