<div class="sudoku-container">
    <table class="sudoku-board">
        <tr *ngFor="let row of board; let rowIndex = index" class="sudoku-row">
            <td *ngFor="let cell of row; let colIndex = index" class="sudoku-cell">
                <img src="/images/{{boardWithImages[row][cell]}}.jpg" />
            </td>
        </tr>
    </table>
    <div>
        <input type="text" [ngModel]="this.selectedNumber" />
    </div>
    <div class="actions">
        <button (click)="validateBoard()">დამატება</button>
    </div>
</div>